<nav class="navbar">
  <ul>
    <li>
      <a href="/books/new">Add New Book</a>
    </li>
  </ul>
</nav>

<h2>Books</h2>

<table>
  <tr>
    <th>Author</th>
    <th></th>
    <th>Title</th>
    <th></th>
    <th>Publisher</th>
    <th></th>
    <th>Description</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Price</th>
    <th></th>
    <th>Cost</th>
    <th></th>
    <th>Margin</th>
    <th></th>
    <th>Edit</th>
    <th></th>
    <th>Delete</th>
  </tr>
  <% for book in @books %>
  <tr class=<% if book.quantity == 0 %>
    <%= "out-of-stock" %>
    <% elsif book.quantity < 3 %>
    <%= "low-stock" %>
    <% end %>>
    <td><%= book.authors[0].full_name if book.authors.length > 0%></td>
    <td>|</td>
    <td><%= book.name %></td>
    <td>|</td>
    <td><%= book.publishers[0].name if book.publishers.length > 0 %></td>
    <td>|</td>
    <td><%= book.description %></td>
    <td>|</td>
    <td><%= book.quantity %></td>
    <td>|</td>
    <td>£<%= sprintf("%.2f", book.price) %></td>
    <td>|</td>
    <td>£<%= sprintf("%.2f", book.cost) %></td>
    <td>|</td>
    <td>£<%= sprintf("%.2f", book.price - book.cost)%> </td>
    <td>|</td>
    <td><a href="/books/<%= book.id %>">Edit</td>
    <td>|</td>
    <td><a href="/books/<%= book.id %>/delete">Delete</td>
  </tr>
  <% end %>
</table>
