<h1>Books</h1>

<table>
  <tr>
    <th>Author</th>
    <th></th>
    <th>Title</th>
    <th></th>
    <th>Description</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Price</th>
    <th></th>
    <th>Cost</th>
  </tr>
  <% for book in @books %>
  <tr onclick="location.href='/books/<%= book.id %>'"><a href="/books/<%= book.id %>"></a>
    <td><%= book.authors[0].full_name if book.authors.length > 0%></td>
    <td>|</td>
    <td><%= book.name %></td>
    <td>|</td>
    <td><%= book.description %></td>
    <td>|</td>
    <td><%= book.quantity %></td>
    <td>|</td>
    <td>£<%= book.price %></td>
    <td>|</td>
    <td>£<%= book.cost %></td>
    <td>|</td>
    <td><a href="/books/<%= book.id %>">Edit</a></td>
  </tr>
  <% end %>
</table>
<br><br><br>
<a href="/books/new/">Add New Book</a>
